@model IEnumerable<cms.ar.xarchitecture.de.cmsXARCH.StudyProgramme>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgrammeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityNavigation)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityNavigation.UniversityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item._id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item._id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item._id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
