@model IEnumerable<cms.ar.xarchitecture.de.cmsDatabase.Anchor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnchorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.AnchorId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnchorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnchorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnchorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
