@model IEnumerable<cms.ar.xarchitecture.de.cmsDatabase.AssetType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="Admin" asp-action="Index">Back to Fresh Admin Panel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
