@model cms.ar.xarchitecture.de.cmsXARCH.Scene

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Scene</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SceneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SceneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldMapFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldMapFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkerFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkerFileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model._id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
