@model IEnumerable<cms.ar.xarchitecture.de.cmsXARCH.SceneView>

@{
    ViewData["Title"] = "Currently available scenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currently available scenes</h1>

<p>
    <a asp-action="Create">Create New Scene</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SceneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkerFileLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateChanged)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SceneName)
            </td>
            <td>
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.MarkerFileLink))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChanged)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item._id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item._id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item._id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
